{% extends 'blog/base.html' %}

{% block content %}
    <div class="post d-flex flex-column">
        {% if post.published_date %}
            <div class="date d-flex justify-content-between">
                {{ post.published_date }}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span><i class="fas fa-edit fa-lg"></i></span></a>
                {% endif %}
            </div>
        {% endif %}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
{% endblock %}